{% extends 'webapp/bootstrap.html' %}


{% load bootstrap3 %}
{% block bootstrap3_content %}

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="./home.html">Calendo</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="./home.html">Home</a></li>
					<li><a href="todo.html">To-Do's</a></li>
					<li><a href="calendar.html">Calendar</a></li>
					<li><a href="settings.html">Settings</a></li>
				</ul>
			</div>
		</nav>
		<h1>{% block title %}{% endblock %}</h1>
		{% block content %}(no content){% endblock %}
	</div>

{% endblock %}
