/* CSS used here will be applied after bootstrap.css */

#top-content img,
#top-content a{
    display:inline;

}
body{
    font-family:  lato;
    height: 100vh;
}

::-webkit-scrollbar { 
     display: none; 
 }
*:focus {
    outline: none !important;
}
.navbar-fixed-left {
    width: 40px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

/* Idk if this does anything yet*/
.container-fluid{
    /* Current Issue: margin-top: 10px;
    Will screw up the navbar as well. Need to fix.
    */
    margin-left: 60px;
    height:100vh;

}

.img-responsive {
    padding: 6px;
    max-width:40px; 
    max-height:40px
}

#calendar{
    padding-top: 10px;
}
#external-events {

    width: 100%;
    height: 50%;
    float: right;
    padding-left: 40px;
    padding-right: 40px;
    overflow:scroll;
    /*border around the stuff*/
}
#external-events .fc-event {
    text-align: left;
    width: 100%;
		margin: 4px;
	  font-size: 16px;
		margin-left: 5px;
		padding-top: 3%;
		padding-bottom: 3%;
    padding-left: 20px;
		padding-right: 20px;
		border-radius: 6px;
    cursor: pointer;
    background-color: #4990e2; 
}

.col-md-4 {
	right: 18px;
}

#external-events .fc-event:hover, .fc-event:focus, .fc-event:active {
		background-color: #3A73B5; 
}

#calendarTrash,#calendar-container{
    height:100vh;
    position:relative;
    z-index: 0;
}
#calendar-container{
    padding: 10px 15px 20px 0;
}

h3 {
	text-align:center;
}
h2 {
	text-align:center;
	padding-bottom:18px;
}


.button-group{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 40px;
}

#authorize-button {
    margin-top: 0px;
    
}
#signout-button {
    margin-top: 10px;
}


.btn-primary {
    color: #fff;
    background-color: #4990e2;
    border-color: #4990e2; /*set the color you want here*/
}

#id{
    color: #4990e2;
}




.quick-add {
	padding-top: 25px;
	padding-left: 45px;
	padding-right: 40px;
	padding-bottom: 15px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3A73B5;
    border-color: #3A73B5; /*set the color you want here*/
}

.modal-content{
    padding: 5%;
}

.modal-header {
	border-bottom: 0px;
	padding: 20px;
}

.modal-footer {
	border-top: 0px;
}

.form-horizontal {
	padding-right: 25px;
	padding-left: 20px;
}

.form-horizontal, .control-label {
	text-align: left !important;
}

/* Label ------------------------------- */


.form-control {
	background-color: transparent;
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	box-shadow: none;
	font-size: 18px;
	border-radius: 0px;
}

.form-control:focus {
	outline: none !important;
	-webkit-box-shadow: none;
}

/* Bottom bars ------------------------------- */

.bar  { position:relative; display:block; width:100%; }
.bar:before, .bar:after   {
  content:'';
  height:3px; 
  width:0;
  bottom:0px; 
  position:absolute;
  background:#4990e2; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}


/* Form styling ------------------------------- */

.input-group        { 
  position:relative; 
	width: 100%;
}
input         {
  font-size:20px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #979797;
	background: transparent;
}

input:focus { 
	outline:none !important; 
}

.input-time {
	padding-top: 70px;
}

.input-group-addon {
	background-color: transparent; 
	border: 0px; 
	border-radius: 0px; 
}

