/* CSS used here will be applied after bootstrap.css */

#top-content img,
#top-content a{
    display:inline;
}

html, body {height: 100%;}

.navbar-fixed-left {
    width: 40px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}
::-webkit-scrollbar { 
    display: none; 
}

/* Idk if this does anything yet*/
.container-fluid{
    /* Current Issue: margin-top: 10px;
    Will screw up the navbar as well. Need to fix.
    */
    margin-left: 60px;

}

.img-responsive {
    padding: 6px;
    max-width:40px; 
    max-height:40px
}

#calendar{
    padding-top: 10px;
}

#external-events h2 {
    margin-top: 5px;
}
#external-events {
    width: 100%;
    float: right;
    /*border around the stuff*/
    background: #ffffff;
    height: 300px;
    overflow-y: scroll;
}
#external-events .fc-event {
    text-align: center;
    height: 40px;
    width: 100%;
    margin: 10px 0 20px;
    cursor: pointer;
    background-color:#4990e2; 
}
#authorize-button {
    margin-top: 10px;
}
#signout-button {
    margin-top: 10px;
}